body {
    background-color: #222;
    color: #ccc;
}

.ui {
    background-color: #333;
    color: #ccc;
    border-radius: 5px;
}

#btn {
    background-color: #222;
    color: #ccc;
    margin-top: 10ch;
}

#wrapper {
    position: relative;
}

.divs {
    position: absolute;
}

select {
    background-color: #333;
    color: #ccc;
    border-radius: 5px;
}